<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0"> 

    <display-name>Akka Demo</display-name>
    <description>
        This is a simple servlet using Akka actors to print "Hello, Darren"
    </description>

    <servlet>
        <servlet-name>ServletDemo</servlet-name>
        <servlet-class>com.fortybeans.ServletDemo</servlet-class>
        <async-supported>true</async-supported>
    </servlet>

    <servlet>
        <servlet-name>PlainServletDemo</servlet-name>
        <servlet-class>com.fortybeans.PlainServletDemo</servlet-class>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletDemo</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PlainServletDemo</servlet-name>
        <url-pattern>/plain</url-pattern>
    </servlet-mapping>
</web-app> 